div {
  transition: all 0.6s;
}
*,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 20px;
  border: 8px solid white;
}
